@model IEnumerable<Employee>

<h2>Employees: </h2>

<div style="padding-top: 10px; padding-bottom: 10px">
    <a asp-action="CreateEmployee" asp-controller="Employee"><button>Add Employee</button></a>
</div>
@foreach (var item in Model)
{
    <br />
    <div style="border: 3px solid black; padding-left: 10px; padding-top: 10px; padding-bottom: 10px">
        <h5>@item.FullName</h5>
        <ul>
            <li>
                Title: @item.Title
            </li>
            <li>
                Hours: @item.Hours
            </li>
            <li>
                ID: @item.Employee_Id
            </li>
        </ul>
        <a asp-action="EditEmployee" asp-controller="Employee" asp-route-id="@item.Employee_Id"><button>Edit</button></a> &nbsp; &nbsp;
        <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@item.Employee_Id"><button>Delete</button></a>
    </div>
}
